*.nc
*.npy
*.npz
data/
__pycache__/
*.pyc
*.egg-info
.ipynb_checkpoints/
donefiles/
slurm/
figs/
mse_notebook.ipynb
test_mcs_tracks.ipynb
mcs_track_healpix_UM.ipynbtesting_mcs_mask.ipynb
*.ipynb
comp_entr_rate.sh
