*.nc
*.npy
*.npz
__pycache__/
*.pyc
*.egg-info
.ipynb_checkpoints/
donefiles/
slurm/
figs/
scripts/bh_entrainment/healpix/notebooks/
comp_entr_rate.sh
run_updraft_jobs.sh
.vscode
plot_mcs_mask.py 
*.png
plotting/
